/* lnb */
#lnb{width:85px;height:100%;background:#332A20;position:fixed;left:0;top:0;
    a.btn_allmenu{display:block;width:100%;height:75px;background:url($imgurl + 'icon_allmenu.png') center center no-repeat;}
        .lnb{
            &>li>a{display:block;color:#666;text-align:center;font-size:13px;padding:10px 4px;background:rgb(187 187 187 / 20%);word-break:keep-all;
                color:rgba(255,255,255,0.6);font-weight:400;margin-bottom :1px;
                &:hover,&.on{text-decoration:none;background:#fff;color:#222;font-weight:700}           
            }   
           
        .sub_menu{position:absolute;left:85px;top:0;z-index:2;background:#fff;width:280px;height:100vh;border-right:1px solid #ddd;
      
            // h2{height:75px;display:flex;align-items:center;padding:0 15px;font-size:17px;border-bottom:1px solid #ddd}
            h2.menu1_tit{height:75px;border-bottom:1px solid #ddd;line-height:75px;padding-left:20px;
                &:before{content:'농촌공간 진단 시스템';display:block;position:absolute;top:0;font-size:17px}
            }
            &>ul{
                &>li{border-bottom:1px solid #ddd;
                    &>a{display:block;position:relative;color:#222;font-size:15px;height:50px;line-height:50px;font-weight:400;padding:0 20px;
                        i{@include position($t:0,$r:20px);display:flex;align-items:center;height:50px;color:#999}
                        &:hover,&.on{text-decoration:none;background:#FFC000;color:#000;font-weight:700}
                        &:hover i{color:#222}
                        &.on i{color:#222;transform:rotate(90deg)}
                    }
                }
            }
            .sub_menu_contents{padding:15px 20px 30px 20px}
        }
        ul.menu{padding-bottom:25px;
            &>li{                
                &>a{position:relative;display:flex;flex-direction:column;justify-content:flex-end;color:rgba(255,255,255,0.6);text-align:center;width:100%;height:85px;
                    font-size:13px;padding-bottom:18px;                   
                    &.menu1{background:url($imgurl2 + 'icon_menu1.svg') center 20px no-repeat;}              
                    &.menu2{background:url($imgurl2 + 'icon_menu2.svg') center 20px no-repeat;}              
                    &.menu3{background:url($imgurl2 + 'icon_menu3.svg') center 20px no-repeat;}              
                    &.menu4{background:url($imgurl2 + 'icon_menu4.svg') center 20px no-repeat;}      
                    &.menu5{background:url($imgurl2 + 'icon_menu5.svg') center 20px no-repeat;}              
                    &.menu6{background:url($imgurl2 + 'icon_menu6.svg') center 20px no-repeat;}              
                    &.menu7{background:url($imgurl2 + 'icon_menu7.svg') center 20px no-repeat;}              
                    &.menu8{background:url($imgurl2 + 'icon_menu8.svg') center 20px no-repeat;}             
                    &.menu9{background:url($imgurl2 + 'icon_menu9.svg') center 20px no-repeat;}             
                    &:hover,&.on{text-decoration:none;background-color:rgba(0,0,0,0.6);color:#fff}
                    span.num{width:24px;height:24px;font-size:12px;display:block;background:#FFC000;color:#1C1D22;border-radius:50%;@include position($r:12px,$t:15px);line-height:24px;font-weight:700}

                }
             
            }
        }
    }
    //bottom_set
    .bottom_set{@include position($b:20px);width:100%;
        li{
            a{display:flex;justify-content:center;position:relative;color:#D9CCBF;text-align:center;width:100%;font-size:12px;
                margin-bottom:12px;
                &:before{@include before;width:45px;height:45px;border-radius:50%;@include position;}
                &.settings:before{background:#5C4B37 url($imgurl2 + 'icon_settings.png') center center no-repeat;}
                &.logout:before{background:#5C4B37 url($imgurl2 + 'icon_logout.png') center center no-repeat}               
            
                span{display:block;padding-top:50px}
            

            }
        }
    }
}



/* header */
#header{width:calc(100% - 365px);height:75px;z-index:1;background:#fff;border-bottom:1px solid #ddd;position:fixed;top:0;  
    .header_wrap{display:flex;align-items:center;height:75px;
        h1{padding-left:20px;
       
        }       
    }
    .header_btn_wrap{display:flex;align-items:center;@include position($r:0);
        ul.set_all{display:flex}
        ul.set_draw{display:flex}
    }
}

/* common 공통영역 */
p.info{font-size:13px;color:#AFACA9;padding:15px 0;line-height:18px;
    i{padding-right:7px}
}
h5.h5_title{font-size:17px;color:#222;font-weight:400;margin-top:20px}
h3.h3_poptit{font-size:16px;color:#222;}
h3.h3_poptit2{font-size:20px;color:#222;}

// btn
.btn{display:flex;padding:0 20px 0 23px;min-width:80px;margin-right:4px;padding-left:42px;height:48px;line-height:48px;background:#F2F2F2;color:#666;
border-radius:3px;font-weight:500;
&:hover{text-decoration:none;background-color:#f8f8f8;}
}

.btn_color1{background-color:#BCBDBE;color:#fff;border:0;
&:hover{text-decoration:none;background-color:#98999e}
}

.btn_print{background:#BCBDBE url($imgurl2 + 'icon_btn_print.png') 15px center no-repeat;background-size:20px}
.btn_refresh{background:#BCBDBE url($imgurl2 + 'icon_btn_refresh.png') 15px center no-repeat;background-size:19px}
.btn_all{background:#BCBDBE url($imgurl2 + 'icon_btn_all.png') 15px center no-repeat;background-size:17px;}
.btn_distance{background:#f2f2f2 url($imgurl2 + 'icon_btn_distance.png') 15px center no-repeat;background-size:24px;}
.btn_extent{background:#f2f2f2 url($imgurl2 + 'icon_btn_extent.png') 15px center no-repeat;background-size:18px;}
.btn_radius{background:#f2f2f2 url($imgurl2 + 'icon_btn_radius.png') 15px center no-repeat;background-size:24px;}
.btn_draw{background:#f2f2f2 url($imgurl2 + 'icon_btn_draw.png') 15px center no-repeat;background-size:24px;}

.btn_roadview{background:url($imgurl2 + 'icon_btn_roadview.png') 15px center no-repeat;background-size:24px;
color:#222;font-weight:600;}

.btn_write{display:inline-block;padding:0px 18px;border:1px solid #ada296;color:#8f7e6d;font-weight:700;border-radius:3px;font-size:14px;
    i{color:#8f7e6d;padding-right:8px;}
    &:hover{background:#fcfaf8;text-decoration:none;
        i{color:#8f7e6d}
    }
   
}

// toggle_menu 일반,위성,없음 선택
ul.toggle_menu{display:flex;border:1px solid #ddd;border-radius:3px;height:48px;line-height:48px;display:flex;align-items:center;padding:0 4px;
    li{
        a{display:block;padding:0 20px;color:#999;height:38px;line-height:38px;background:#fff;font-weight:600;margin:2px;
            &:hover,&.on{background:#FFC000;color:#222;font-weight:700;border-radius:3px;text-decoration:none}
        }
    }
}

.data_count{font-size:40px;line-height:50px;color:#222;font-weight:500;margin:10px 0 00}

// input select common
.select_type1{border:none;border-bottom:1px solid #ddd;font-size:17px}
.select_type2{font-size:15px;color:#666;font-weight:700}
.m_select_type{color:#666A7A;font-weight:bold;font-size:15px;background-color:#f2f2f2;border:none}

//select가 두개 나열
.select_box_wrap{display:flex;width:100%;
    select{min-width:auto;flex:1;margin-right:6px}
    select:last-child{margin-right:0}
}

/* tab */
.tab_type1{display:flex;margin:10px 0;
    li{
        a{color:#222;padding:4px 25px;background:#ececec;color:#666;;font-size:13px;
            &:hover{background:#d4d4d4;color:#222;font-weight:700;text-decoration:none}
            &.on{background:#FFD028;color:#222;font-weight:700;text-decoration:none}
        }
    }
}


/* 1-2 농촌공간진단시스템 > 인구이동 */
// bar
.progress_container{display:flex;align-items:center;max-width:260px;width:100%;justify-content:center;padding:20px 0;
    .percentage {flex:1;text-align:center;}
    .per_left{order:0;}
    .per_right{order:2;}
    .progress_bar{flex:5;}
    .progress_line{width:100%;height:8px;background-color: #ddd;border-radius:20px;}
    .played{width: 100%;height:100%;background-color: #d3d3d3;border-radius:10px;position:relative;
        span.bar{display:block;border-radius:3px;background-color:#fff;box-shadow:#ddd 0 0 2px 2px;width:24px;height:24px;border-radius:50%;@include position($l:20px,$t:-8px)}
    }  
}

/* main_sec */
#main_sec{display:flex;flex-direction:column;margin-left:365px;position:relative;}
// 지도
#map_container{position:relative;height:100%;margin-top:75px}
.map_area{width:100%;height:calc(100vh - 75px)}

.btn_data_visual{display:flex;align-items:center;width:200px;height:50px;border-radius:50px;margin-top:12px;
    background:#716964 url($imgurl2 + 'icon_btn_datavisual.png') 90% center no-repeat;color:#fff;padding:0 0 0 25px;
    &:hover{background-color:#685f59;text-decoration:none}
}
.map_zoom{@include position($r:20px,$t:10px);
   a{display:block;border-radius:3px;width:30px;height:30px;border:1px solid #ddd;background:#fff;@include flex-center;margin-bottom:2px;
        &:hover{text-decoration:none;background:#f2f2f2}
    }
   i{font-size:12px;color:#666}
}
// 범례
.legend_type1{@include position($l:0px,$b:0);z-index:2;width:270px;background:rgba(56,17,17,0.3);padding:30px 20px;
    ul.list{
        li{width:200px;height:40px;line-height:40px;color:#fff;text-align:right;font-size:12px;padding:0 8px}
        li:nth-child(1){background:#CD1103}
        li:nth-child(2){background:#D53212}
        li:nth-child(3){background:#DD5321}
        li:nth-child(4){background:#E67430}
        li:nth-child(5){background:#EE953F}
        li:nth-child(6){background:#F6B64E}
        li:nth-child(7){background:#FFD75D}
    }
}

.legend_type2{@include position($l:0px,$b:0);z-index:2;width:270px;background:rgba(56,17,17,0.3);padding:20px;
    ul.list{
        li{width:100%;height:40px;line-height:40px;color:#fff;text-align:right;font-size:12px;padding:0 8px}
        li:nth-child(1){background:#FD6870}
        li:nth-child(2){background:#FC939E}
        li:nth-child(3){background:#FAC8B5}
    }
}

.legend_type3{@include position($l:0px,$b:0);z-index:2;min-width:270px;background:rgba(56,17,17,0.3);padding:20px;
    ul.list{
        li{position:relative;color:#fff;line-height:28px;padding-left:20px}
        li::before{@include before;border-radius:50%;width:12px;height:12px;@include position($t:10px,$l:0);}
        li:nth-child(1)::before{background-color:#FD6870}       
        li:nth-child(2)::before{background-color:#F5CA70}       
        li:nth-child(3)::before{background-color:#65BDDC}       

    }
}

// checkbox custom

.check_area{@include position($r:12px,$t:30px);
    label {cursor:pointer;display:inline-block;position:relative;padding-left:25px;height:24px;margin-bottom:4px;opacity:.8}    
    label:before{content: "";width:24px;height:24px;position:absolute;left:0;}    
    input[type=checkbox]{display:none;}    
    .checkbox label:before{background-color:#CD1103;border-radius:50%;margin-top: 2px;display:block}    
    input[type=checkbox]:checked + label:before{background:#CD1103 url($imgurl2 + 'icon_data_check.png') center center no-repeat} 
    .check2:before{background-color:#0D3F00 !important}
    .check3:before{background-color:#004574 !important}
    .check4:before{background-color:#230064 !important}
    .check5:before{background-color:#00076A !important}
    .check6:before{background-color:#783300 !important}
}


/* table */
.table_type1{width:100%;
    table{width:100%;margin-top:15px}
    th,td{padding:10px 12px;text-align:center}
    th{background:#776756;color:rgba(255,255,255,0.6);}
    td{color:#666;border-bottom:1px solid #ddd}
}

.table_type2{width:100%;
    table{width:100%;margin-top:15px}
    th,td{padding:7px 16px;text-align:center;height:40px;line-height:40px}
    th{background:#776756;color:rgba(255,255,255,0.6);height:35px;line-height:35px}
    td{color:#666;border-bottom:1px solid #ddd}
}

/* 2-1 농촌재생계획모의 > 복지계획 */

.map_box{position:relative;margin-right:4px;
    .label{background:rgba(255,255,255,0.8);border-radius:3px;padding:12px 35px;color:#222;font-weight:700;display:inline-block;font-size:15px;
        position:absolute;top:20px;left:20px}

}
.map_area .map_box:last-child{margin-right:0}

/* popup */
.popup_type1{background:#fff;border-radius:3px;border:1px solid #ddd;padding:30px 20px;
    a.btn_close{@include position($r:10px,$t:4px);
        i{font-size:20px;color:#999}
    }
   
}

.popup_type2{background:#fff;border-radius:3px;border:1px solid #ddd;padding:40px 35px 40px 35px;min-width:950px;box-shadow:0 0 15px #666;
    .title_wrap{display:flex;padding-bottom:8px;
        p{font-size:15px;color:#666;font-weight:400;padding-left:12px}
    }
    a.btn_close{@include position($r:10px,$t:6px);
        i{font-size:20px;color:#999}
    }
    h3.h3_poptit{font-size:16px;color:#222;}
}


// pagination
.pagination{@include flex-center;margin-top:20px;
    li{
        &.active > a{background-color:#FFD600;color:#222;font-weight:bold}
        &:first-child a{margin-left:0}
        a{display:block;padding:0 1px;font-size:12px;margin-right:.4rem;text-align:center;line-height:24px;width:26px;height:26px;
            min-width:26px;background-color:#d1d1d1;color:#A7A7A7;
            margin-left:-0.1rem;
            &.arrow{background:#d1d1d1 url($imgurl + "icon_page_next.png") 50% 50% no-repeat}
            &.prev{transform:rotateZ(-180deg)}
            &.arrow2{background:#d1d1d1 url($imgurl + "icon_page_forward.png") 50% 50% no-repeat}
            &.forward{transform:rotateZ(-180deg)}
            &:hover{background-color:#b9b9b9;text-decoration:none;color:#222;font-weight:bold}
        }
        
    }
}